# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt Creator
*.pro.user*
build-*
.qmake.stash

# Visual Studio Code
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Doxygen

# UML out dir for images
out/*

# depend files
depend

# buildnumber file
buildnumber.num

# Executables
Step-1/IOstream/IOstream
Step-1/Formatting/Formatting
Step-2/CallByReference/CallByReference
Step-2/String/String
Step-2/StringAndC/StringAndC
Step-3/Rectangle/rectangle
Step-3/Array/Array
